.vscode

tests/__pycache__/
tests/param_value/__pycache__/

src/server/bin
src/non-functional-req/bin

src/courier/handler/bin
src/courier/managers/*/bin

src/supplier/handler/bin
src/supplier/managers/*/bin

src/customer/handler/bin
src/customer/managers/*/bin

*.o
